body {
    font-family: 'Inter';
    /* padding: 3vw; */
    width: 50%;
    margin: 0 auto;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
    body {
        width: 85%;
        margin-top: 7.5%;
    }

    .item {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .item .content {
        padding-top: 2vw;
    }

    .item .metadata {
        padding-top: 2vw;
    }

    #headerPicture {
        height: 500 !important;
    }
}

#footer {
    margin: 0 auto;
    color: #777;
    font-style: italic;
    text-align: center;
}



/* PROFILE */

#profileHeader {
    position: relative;
    margin-bottom: 10;
}

#headerPicture {
    object-fit: cover;
    width: 100%;
    height: 250;
    margin: 0 auto;
}

#headerProfile {
    position: absolute;
    bottom: 15;
    left: 2vw;
}

#profile {
    margin-bottom: 1vw;
}


#profile #name {
    font-weight: bold;
    display: block;
}

#profile #handle {
    color: #777;
}

.profilePicture {
    border-radius: 50%;
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
}



/* POSTS */

#container .item .content {
    padding-left: 1vh;
    padding-right: 1vh;
}


.item h1 {
    font-size: 1.6em;
    font-weight: 400;
}


.item iframe {
    width: 50%;
    height: 15vw;
    border: none;
    margin: 0 auto;
    display: block;
}