body {
    font-family: 'Inter';
    padding: 3vw
}

#footer {
    margin: 0 auto;
    color: #777;
    font-style: italic;
    text-align: center;
}



/* PROFILE */

#profile {
    margin-bottom: 2vw;
}


#profile #name {
    font-weight: bold;
    display: block;
}

#profile #handle {
    color: #777;
}

.profilePicture {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}



/* POSTS */

#container .item .content {
    padding-left: 1vw;
    padding-right: 1vw;
}


.item h1 {
    font-size: 1.6em;
    font-weight: 400;
}

.item iframe {
    width: 100%;
    height: 30vw;
    border: none;
    margin: 0 auto;
}