body {
    font-family: 'Inter';
    padding: 3vw
}

h1 {
    font-weight: 100;
}

.container {

}

.container h1 {
    font-size: 1.7em;
}

/* PROFILE */

#profile {
    margin-bottom: 2vw;
}


#profile #name {
    font-weight: bold;
    display: block;
}

#profile #handle {
    color: #777;
}

.profilePicture {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}



/* POSTS */

.container .item .content {
    padding-left: 1vw;
    padding-right: 1vw;
}